/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/App.config
/Properties/AssemblyInfo.cs
/Clones.csproj
/obj/Debug/Clones.csproj.CopyComplete
/obj/Debug/Clones.csproj.CoreCompileInputs.cache
/obj/Debug/Clones.csproj.FileListAbsolute.txt
/obj/Debug/Clones.csprojAssemblyReference.cache
/bin/Debug/Clones.exe
/obj/Debug/Clones.exe
/bin/Debug/Clones.exe.config
/bin/Debug/Clones.pdb
/obj/Debug/Clones.pdb
/Folder.DotSettings.user
/ICloneVersionSystem.cs
/bin/Debug/nunit.framework.dll
/nunit.framework.dll
/Program.cs
